<p>
  <strong>Song Name:</strong>
  <%= @song.tune %>
</p>
 
<p>
  <strong>Song by:</strong>
  <%= @song.singer %>
</p>

<%= link_to 'back to list', songs_path %>
<%= link_to 'edit this song', edit_song_path %>