@import "bootstrap";


.btn-show {
	background-color: #f99c86;
	color: white;
}
.btn-edit {
	background-color: #f67456;
	color: white;
}
.btn-destroy {
	background-color: #f34c26;	
	color: white;
}

.form-control {
	margin-bottom: .8em;
}