<!-- div structure follows from application.html.erb -->
<div class="col-sm-8 lato_font">
<p>gin-gin solves the problem of what should I drink (and where) through peer recommendations, allowing cocktail connoisseurs to locate hard-to-find cocktails.</p> 

<p>You can search cocktails by name, bar/neightborhood, flavor profile, and ingredients. You can add new cocktails, and check out what other users are sipping.</p>

<p>Never again will you think, "I had an amazing drink at Southpaw last month; I think there was chartreuse in it?" Or, "I'm never in this neighborhood, and I really want an Aviation."</p>

</div>