	<table class="table-responsive gintable">
		<tr>
			<th>drinks</th>
			<th>bars</th>
		</tr>
		<% @drinks.each do |drink| %>
		<tr>
			<td><%= link_to drink.name, drink_path(drink) %></td>
			<td><%= drink.bar %></td>
		</tr>
		<% end %>
	</table>
		

</div>
<%= link_to 'add new cocktail', new_drink_path, :class => 'btn btn-info btn-sm ' %>

