<div class="col-xs-10 col-xs-offset-1">
	<div class="row">

		<h1>Tuneful labels</h1>
		<div class="table-responsive">
		<table class="table table-condensed">
			<tr>
				<th>Label</th>
				<th>Artist</th>
			</tr>

			<tr>
				<td></td>
				<td></td>
			</tr>
		</table>
		</div>
	</div>
	<%= link_to 'add new label', new_label_path, :class => 'btn btn-info btn-sm' %> <%= link_to 'add artist to existing label', new_artist_path, :class => 'btn btn-info btn-sm' %> <%= link_to 'view all labels', labels_path, :class => 'btn btn-info btn-sm' %> 

</div>