<div class="col-xs-10 col-xs-offset-1">
	<div class="row">

		<h1>Tuneful lables</h1>
		<div class="table-responsive">
		<table class="table table-condensed">
			<tr>
				<th>Label</th>
			</tr>

			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</table>
		</div>
	</div>

</div>

