<div class="col-xs-12">
<div class="col-xs-10 col-xs-offset-1">
  <div class="row">
  <h1>Tuneful</h1>

<%= link_to 'explore by song', songs_path, :class => 'btn btn-info btn-sm' %> 
<%= link_to 'explore by singer', artists_path, :class => 'btn btn-info btn-sm' %>
<%= link_to 'explore by record label', labels_path, :class => 'btn btn-info btn-sm' %> 
</div>


</div>